<%= form_for(@voting) do |f| %>
  <% if @voting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voting.errors.count, "error") %> prohibited this voting from being saved:</h2>

      <ul>
      <% @voting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :einzelbewertung %><br>
    <%= f.number_field :einzelbewertung %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :karteikarte_id %><br>
    <%= f.text_field :karteikarte_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
